<section class="first-view center-vertical">
	<h1>CHALLENGE SNS!!!</h1>
</section>

<section class="center-vertical view">
	<h1>Post</h1>
	<div class="grid">
		<% if !@posts.nil? %>
			<% @posts.each do |post| %>
				<div class="post center-vertical">
					<div>
						<p><img src="<%= post.user.icon_url %>"  alt="user_image" width="140" height="140" class="rounded-circle"></p>
						<p style="font-size: 20px;"><%= post.user.name %></p>
					</div>
					<p>チャレンジ内容:<%= post.body %></p>
					<div>
						<% if !post.tags.nil? %>
							<% post.tags.each do |tag|%>
								<p>チャレンジタグ:#<%= tag.tag_name %></p><br>
							<% end %>
						<% end %>
						<div>
							<% if !post.comments.nil? %>
								<% post.comments.each do |comment|%>
									<img src="<%= comment.user.icon_url %>" alt="user_image" width="40" height="40" style="float: left;">
									<p>氏名:<%= comment.user.name %></p>
									<p>コメント:<%= comment.content %></p>
								<% end %>
							<% end %>
						</div>
					</div>
					<div>
					<p>いいねしたユーザー<br>
					<% if !post.likesusers.nil? %>
						<form action="/myfavorite/<%= post.id%>" method="get">
							<% post.likesusers.each do |like|%>
									<img src="<%= like.icon_url %>" alt="user_image" width="40" height="40">
							<% end %>
							<input type="hidden" value="<%= post.id %>">
							<input type="submit" value="❤︎一覧を見る">
						</form>
					<% else%>
					  <p>いいねしたユーザーはいません</p>
					<% end %>
					</p>
					</div>
					<%# unless post.like.liked %>
					<% if !current_user.nil? %>
						<div>
							<form action="/comment" method="post">
								<input type="string" name="content" placeholder="コメント">
								<input type="hidden" name="post_id" value="<%= post.id %>">
								<input type="submit" value="投稿">
							</form>
						</div>
						<div>
							<form action="/like" method="post">
								<input type="submit" value="いいねする">
								<input type="hidden" value="<%= post.id %>" name="post_id">
							</form>
						</div>
					<% end %>
				</div>
			<% end %>
		<% else %>
			<%# TODO: ここで分岐 %>
			<p>投稿がありません</p>
		<%end%>
		</div>
</section>